// colors
$white: #fff;
$black: #000;
$grey: rgba(21, 28, 38, 0.17);
$gray7: #121212;
$gray19: #303030;
$lightGrey: #f2f2f2;
$veryLightGrey: rgba(242, 242, 242, 0.5);
$squidInk: #313a4b;
$eigengrau: #151c26;
$brightPink: #dd264e;
$elfGreen: #189387;

// breakpoints
$smallScreen: 600px;
$mediumScreen: 950px;
$largeScreen: 1440px;

//mixins
@mixin setWidthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setFontSizeAndWeight($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
